body{
min-height: 500px !important;
}
.header-top{
width: 100%;
}
.header-top ul.header-ul{
display: inline-block;
margin: 0;
}
.header-top ul.header-ul li{
list-style: none;
}
.header-top ul.header-ul li#navbar-sitename{
height: 20px;
margin-left: 134px;
padding-top: 6px;
color: #000;
font-size: 17px;
}

.navbar-inner{
height: 60px;
background-color: #185fb3;
border-top: 1px solid #DDDDDD;
}

.navbar-inner p{
color: #fff;
text-align: center;
font-size: 35px;
padding: 5px;
}
.new-navbar{
width: 100%;
margin: 0 !important;
border: none;
}
.new-navbar .logo{
position: absolute;
margin-left: 20px;
padding: 20px;
background-color: #fff;
border: 10px solid #185fb3;
border-radius: 30px;
margin-top: -20px;
height: 95px;
width: 120px;
text-align: center;
}
.new-navbar .logo img{
top: 3px;
position: relative;
max-width: 60px;
max-height: 30px;
}
.new-navbar .navbar-menu{
margin-top: 11px;
margin-left: 164px;
display: inline-block;
}
.new-navbar .navbar-menu a{
color: #fff;
padding: 10px 10px;
border-radius: 10px;
font-size: 12px;
text-transform: uppercase;
display: inline-block;
}
.new-navbar .navbar-menu a.active,
.new-navbar .navbar-menu a:focus,
.new-navbar .navbar-menu a:hover{
background-color: #fff;
color: #f30505;
text-decoration: none;
transition: 0.3s;
}

.navbar .nav > li > a{
height: 40px !important;
padding: 15px 10px !important;
line-height: 13px !important;
}
/*.navbar .nav > li.logout > a{   for only smsl_accounts
padding-top: 5px !important;
}*/
.navbar .nav .menu-divider{
padding: 20px 10px;
}
.navbar.navbar-fixed-top + #sidebar_left + #content_wrapper {
  padding-top: 100px !important;
}
#sidebar_left{
top: 50px !important;
}
.navbar-bottom{
background-color: #fff;
height: 40px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0 1px 2px;
}
.navbar-bottom ul{
float: none;
text-align: center;
margin-top: 10px;
}
.navbar-bottom ul li a{
text-decoration: none;
}
#content_wrapper{
margin-left: 0 !important;
}
#content{
margin-top: 29px !important;
background-image: url(../img/bg4.png);
min-height: 512px;
}
.breadcrumb .glyphicon{
color: #185fb3;
}

.navbar .navbar-notifications a i{
	font-size: 16px;
}

.navbar .navbar-notifications a i sup{
	top: -12px;
    right: 2px;
	font-size: 13px;
}

.navbar .navbar-notifications ul{
	max-height: 500px;
	overflow: auto;
}

.site-index .jumbotron{
	background-color: #fafafa;
	text-align: center;
}

.site-index .jumbotron h1{
	color: #4a89dc;
}

a.print-right{
	float: right !important;
	margin-bottom: 20px;
}
h1.text-align-left{
	text-align: left !important;
}
.p-bold{
	font-weight: bold !important;
}
.margin-bottm-none{
	margin-bottom: 0 !important;
}
.text-align-center{
	text-align: center !important;
}
.text-align-right{
	text-align: right !important;
}
.vertical-align-middle{
	vertical-align: -webkit-baseline-middle;
}

.border-top-none{
	border-top: 0 !important;
}

.reports-page .report-box:nth-child(2n+1){
	clear: both;
}

.reports-page .report-box a{
	min-height: 107px;
}

.coa-list .view-list .level-2{
	display: block;
	padding: 10px 0 10px 25px !important;
	border-bottom: 1px solid #eee;
	font-weight: bold;
}
.coa-list .view-list .level-3{
	display: block !important;
	padding: 7px 0 7px 40px !important;
	border-bottom: 1px solid #eee;
}
.coa-list .view-list .view-code{
	float: right !important;
	display: inline-block !important;
	text-align: right;
}

.coa-list pre{
	background-color: #caddf5;
	border-color: #97bbeb;
    color: #1f57a1;
}

.invoice-coa-list .view-list table{
	margin-top: 0 !important;
}

.invoice-coa-list table.level-2 tr td{
	padding: 0 0 10px 25px !important;
	font-weight: bold;
}

.invoice-coa-list table.level-3 tr td{
	padding: 0 0 10px 40px !important;
}

.company-logo{
	float: right;
	max-width: 100px;
}

.journalmain-create{
    width: 1200px;
    margin-left: -83px;
}
.journalmain-create .mw1000{
    max-width: none !important;
}
.journalmain-create .admin-form .panel-body{
    padding-bottom: 10px !important;
}

a.btn-float-right{
	float: right;
	margin-bottom: 30px;
}

a.btn-print i{
	font-size: 20px;
}

.coa-list .view-list{
	clear: both;
}

.coa-list a.btn-float-right{
	margin-bottom: 10px !important;
}

.datepicker.datepicker-dropdown{
	z-index: 1040 !important;
}

.site-reports{
    margin-top: 20px;
}
.site-reports .panel{
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
}
.site-reports .panel .panel-heading{
    border-radius: 5px;
}
.site-reports .panel .panel-title{
    color: #185fb3;
    padding-top: 10px;
    background-color: transparent;
}
.box-section a img{
    position: absolute;
    margin-top: 20px;
}
.box-section .box{
    margin: 20px 0;
    padding: 10px 0 20px;
    background-color: #fff;
    height: 190px;
    text-align: center;
    border-bottom: 12px solid #185fb3;
}
.box-section .box p{
    padding: 10px 5px 20px;
    font-size: 15px;
    font-weight: 800;
    text-shadow: 0px 0px 0px #000;
}
.box-section a .box .circle{
    width: 90px;
    height: 90px;
    border: 5px solid #000;
    border-radius: 80px;
    margin: 0 auto;
}
.box-section .box p.padding-bottom-none{
  padding-bottom: 0 !important;
}
.box-section a{
    color: #000;
}
.box-section a:hover{
    color: #185fb3;
    text-decoration: none;
    transition: 0.2s;
    text-shadow: 0px 0px 0px #185fb3;
}

.box-section a img.image{display: block;}
.box-section a img.image.hover{display: none;}
.box-section a:hover img.image{display: none;}
.box-section a:hover img.image.hover{display: block;}

.site-index a#box1:hover{ color: #ca0df9; }
.site-index a#box2:hover{ color: #18C223; }
.site-index a#box4:hover{ color: #ffd921; }
.site-index a#box5:hover{ color: #ff0000; }
.site-index a#box6:hover{ color: #19eaff; }
.site-index a#box7:hover{ color: #f93a01; }
.site-index a#box8:hover{ color: #920af9; }
.site-index a#box9:hover{ color: #32841d; }
.site-reports .box-section a:hover{ color: #920af9; }
.site-admin-panel .box-section a:hover{ color: #32841d; }

.site-reports .box-section a:hover p{text-shadow: 0px 0px 0px #920af9;}
.site-reports .box-section a:hover .circle{
    border-color: #920af9;
}
.site-admin-panel .box-section a:hover p{text-shadow: 0px 0px 0px #32841d;}
.site-admin-panel .box-section a:hover .circle{
    border-color: #32841d;
}
.box-section a#box1:hover p{text-shadow: #ca0df9;}
.box-section a#box1:hover .circle{
    border-color: #ca0df9;
}
.box-section a#box2:hover p{text-shadow: #18c223;}
.box-section a#box2:hover .circle{
    border-color: #18c223;
}
.box-section a#box3:hover p{text-shadow: #185fb3;}
.box-section a#box3:hover .circle{
    border-color: #185fb3;
}
.box-section a#box4:hover p{text-shadow: #ffd921;}
.box-section a#box4:hover .circle{
    border-color: #ffd921;
}
.box-section a#box5:hover p{text-shadow: #ff0000;}
.box-section a#box5:hover .circle{
    border-color: #ff0000;
}
.box-section a#box6:hover p{text-shadow: #19eaff;}
.box-section a#box6:hover .circle{
    border-color: #19eaff;
}
.box-section a#box7:hover p{text-shadow: #f93a01;}
.box-section a#box7:hover .circle{
    border-color: #f93a01;
}
.box-section a#box8:hover p{text-shadow: #920af9;}
.box-section a#box8:hover .circle{
    border-color: #920af9;
}
.box-section a#box9:hover p{text-shadow: #32841d;}
.box-section a#box9:hover .circle{
    border-color: #32841d;
}